/* responsive typography (scaling text and components  */
html {
  scroll-behavior: smooth;
  font-size: 1rem;
}

@include media-break-point-up(sm) {
  html {
    font-size: 120rem;
  }
}

@include media-break-point-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-break-point-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

body {
  background-color: red
}
