/* responsive typography (scaling text and components  */

@include media-break-point-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-break-point-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-break-point-up(lg) {
  html {
    font-size: 1.6rem;
  }
} 